<footer>
  <div class="row">

    <div id="first" class="col-lg-3">
      <div class="footer-header">
        <p class="navbar-brand footer-header" href="#">About Us</p>
      </div>
      <div class="footer-content">
        <ul>
          <li><a href="">Delivery Information</a></li>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms and Conditions</a></li>
          <li><a href="">Contact Us</a></li>
          <li><a href="">FAQ</a></li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="footer-header">
        <p class="navbar-brand footer-header">Social Media</p>
      </div>
      <div class="footer-content">
        <ul>
          <li href=""><i class="bi bi-instagram"></i>
            <a href="">
              SoLuxe
            </a></li>
          <li href=""><i class="bi bi-twitter-x">
            <a href="">
              SoLuxe
            </a>
          </i></li>
          <li href=""><i class="bi bi-github"></i>
            <a href="">
              SoLuxe
            </a>
          </li>
          <li href=""><i class="bi bi-facebook"></i>
            <a href="">
              SoLuxe
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- <div class="col-lg-3">
      <div class="footer-header">
        <a class="navbar-brand footer-header" href="#">Contact Me</a>
      </div>
      <div class="footer-content">
        <ul>
          <li>
            <i class="bi bi-envelope-fill"></i>
            <a href="mailto:your-Mohaammed_77@hotmail.com.com">
              Mohaammed_77&#64;hotmail.com
            </a>
          </li>
          <li><i class="bi bi-facebook"></i>
            <a href="https://www.facebook.com/profile.php?id=100005092396237" target="_blank">
              Mohamed Ayman
            </a>
          </li>
        </ul>
      </div>
    </div> -->

    <div class="col-lg-3">
      <div class="footer-header">
        <p class="navbar-brand footer-header" href="#">My Account</p>
      </div>
      <div class="footer-content">
        <ul>
          <li>
            <a href="">
              Sign In
            </a>
          </li>
          <li>
            <a href="">
              My Wishlist
            </a>
          </li>
          <li>
            <a href="">
              Track My Order
            </a>
          </li>
          <li>
            <a href="">
              Help
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="footer-header">
        <p class="navbar-brand footer-header">Install App</p>
      </div>
      <div class="footer-content">
        <h5 class="text-white">From App Store or Google Play</h5>
        <div class="row">
          <img src="assets/images/AppStore.png" alt="" class="col-md-6">
          <img src="assets/images/PlayStore.png" alt="" class="col-md-6">
          <p class="col-12 mt-4">Secured Payment Gateway</p>
          <img src="assets/images/Payment.png" alt="" class="col-12">
        </div>

      </div>
    </div>
    <div class="col-12 text-center">
      <p>&copy; 2025 SoLuxe. All rights reserved.</p>
    </div>
  </div>
</footer>
