@media screen and (min-width: 400px){
  .mega-menu{
    width: 100% !important;
    transform: translate3d(0px, -3px,0) !important;
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    z-index: 980;
    background-color: rgb(33, 37, 41);
  }
  .dropdown-menu {
    position: absolute;
  }
}

.grid-container {
  display: grid;
  grid-auto-flow: row; /* Fills vertically first */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.category {
  padding: 10px;
}

.navbar{
  margin: 0 !important;
}

.navbar-dark .nav-item, .parallelogram:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
  color: rgb(0, 0, 0) !important;
  }

  .nav-link:hover{
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s ease;
    border-radius: 0.25rem;
    color: rgb(0, 0, 0) !important;
    cursor: pointer;
  }

  .nav-divider {
    width: 45px; /* Adjust width */
    height: 2px;
    background: grey;
    position: relative;
    top: 20px;
    transform: rotate(-62deg); /* Make the line diagonal */
    padding: 0;
    margin: 0;
  }

  .parallelogram {
    width: 120px;
    clip-path: polygon(20% 0, 100% 0, 80% 100%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
  }

  .navbar-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .cat-name{
    font-size: 13px;
  }

  .dropdown-header{
    font-size: 12px;
  }

  .nav-link-cat{
    font-size: 12px;
  }
